/* Widgets styling */
.widget{
    margin-bottom: 25px;
    margin-top: 10px;
    padding: 30px;
    border: 1px solid #e8e8e8;
    h5{
      font-size: 1rem;
      color: var(--light-text);
      line-height: 1.5;
      font-weight: 400;
      margin-bottom: 15px;
    }
    .recent-post{
      margin-bottom: 15px;
      h4{
        color: var(--grey-text);
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 0px;
      }
      p{
        font-size: .9rem !important;
        color: var(--light-text);
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 0px !important;
        margin-top: 5px !important;
      }
      &:last-child{
        margin-bottom: 5px;
      }
    }
    ul{
      margin: 0px !important;
      li{
        a{
          color: var(--black-text);
        }
      }
    }
}